/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #F0F4F3;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  padding: 0 30px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: absolute;
}

.logo__icon {
  margin-right: 2px;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.21;
  color: #F0F4F3;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu__button {
  display: none;
}

.hero {
  background-color: black;
  padding-top: 289px;
  padding-bottom: 58px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(147.94deg, rgba(29, 33, 45, 0.2) 2.88%, rgba(29, 33, 45, 0) 103.72%), url(../image/hero/hero-375w.jpg);
    background-size: cover;
    background-position: center;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero .hero {
    background-image: linear-gradient(147.94deg, rgba(29, 33, 45, 0.2) 2.88%, rgba(29, 33, 45, 0) 103.72%), url(../image/hero/hero-750w.jpg);
  }
}

.hero__container {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .hero__container {
    max-width: 238px;
  }
}

.hero__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 1.22;
}

.hero__text {
  font-size: 15px;
  line-height: 1.2;
}

.hero__button {
  font-weight: 700;
  font-size: 19px;
  line-height: 1;
  letter-spacing: 0.03em;
  margin-bottom: 248px;
  padding: 18px 26px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.38%, #D74482), color-stop(89.52%, #9B2981));
  background: linear-gradient(180deg, #D74482 -15.38%, #9B2981 89.52%);
  -webkit-box-shadow: 6.77778px 6.77778px 14.5238px rgba(52, 54, 74, 0.5), inset 2.90476px 1.93651px 3.87302px rgba(227, 68, 151, 0.5);
          box-shadow: 6.77778px 6.77778px 14.5238px rgba(52, 54, 74, 0.5), inset 2.90476px 1.93651px 3.87302px rgba(227, 68, 151, 0.5);
  border-radius: 24.2063px;
  border-color: transparent;
}

.hero__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__icon {
  fill: #FFFFFF;
  margin-right: 8px;
}

.hero__scroll-text {
  color: #FFFFFF;
}

.about {
  background-color: #1D212D;
  padding-top: 93px;
  padding-bottom: 52px;
  position: relative;
}

.about__image {
  position: absolute;
  top: 32px;
  right: 37px;
  display: block;
}

@media screen and (max-width: 767px) {
  .about__image--dekstop, .about__image--tablet {
    display: none;
  }
}

.about__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.23;
  margin-bottom: 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.38%, #E270AD), color-stop(106.14%, #CF4965));
  background: linear-gradient(180deg, #E270AD -15.38%, #CF4965 106.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  color: #E270AD;
}

.about__text {
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.about__text--accent {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.38%, #E270AD), color-stop(106.14%, #CF4965));
  background: linear-gradient(180deg, #E270AD -15.38%, #CF4965 106.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  color: #E270AD;
}

.about__accent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about__icon {
  fill: #F0F4F3;
  margin-left: 7px;
}

.advantages {
  padding-top: 41px;
  padding-bottom: 40px;
}

.advantages__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.23;
  color: #1D212D;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .advantages__string--first {
    margin-bottom: 30px;
  }
}

.advantages__item {
  padding: 11px 40px;
  background-color: #1D212D;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__item:not(:last-child) {
  margin-bottom: 36px;
}

@media screen and (max-width: 767px) {
  .advantages__icon {
    display: none;
  }
}

.advantages__text {
  font-size: 15px;
  line-height: 1.2;
}

.advantages__text--center {
  text-align: center;
}

.proposition {
  padding-top: 52px;
  padding-bottom: 120px;
  background-color: #1D212D;
}

.proposition__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.23;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.38%, #E270AD), color-stop(106.14%, #CF4965));
  background: linear-gradient(180deg, #E270AD -15.38%, #CF4965 106.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  color: #E270AD;
}

@media screen and (max-width: 767px) {
  .proposition__item:not(:last-child) {
    margin-bottom: 25px;
  }
}

.card {
  background-color: #FFFFFF;
  border-radius: 18px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px 30px 40px;
}

.card__title {
  text-align: center;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.card__title--green {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-6.93%, #7AC266), color-stop(117.12%, #11897B));
  background: linear-gradient(180deg, #7AC266 -6.93%, #11897B 117.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  color: #7AC266;
}

.card__title--purple {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.38%, #4955A5), color-stop(89.52%, #6D3092));
  background: linear-gradient(180deg, #4955A5 -15.38%, #6D3092 89.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  color: #4955A5;
}

.card__title--pink {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.38%, #D74482), color-stop(89.52%, #9B2981));
  background: linear-gradient(180deg, #D74482 -15.38%, #9B2981 89.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  color: #D74482;
}

.card__subtitle {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.25;
  color: #616161;
}

@media screen and (max-width: 767px) {
  .card__list {
    margin-bottom: 23px;
  }
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .card__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.card__icon {
  fill: green;
  margin-right: 6px;
}

.card__text {
  font-size: 15px;
  line-height: 1.2;
  color: #333333;
}

.card__price {
  text-align: center;
  margin-bottom: 6px;
  font-size: 15px;
  line-height: 1.2;
  color: #333333;
}

.card__button {
  margin-left: auto;
  margin-right: auto;
  padding: 17px 60px;
  border-radius: 37px;
  border-color: transparent;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.card__button--green {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-6.93%, #7AC266), color-stop(117.12%, #11897B));
  background: linear-gradient(180deg, #7AC266 -6.93%, #11897B 117.12%);
  -webkit-box-shadow: 2px 5px 10px rgba(52, 54, 74, 0.5), inset 4.42131px 2.94754px 5.89508px rgba(68, 227, 122, 0.5);
          box-shadow: 2px 5px 10px rgba(52, 54, 74, 0.5), inset 4.42131px 2.94754px 5.89508px rgba(68, 227, 122, 0.5);
}

.card__button--purple {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.38%, #4955A5), color-stop(89.52%, #6D3092));
  background: linear-gradient(180deg, #4955A5 -15.38%, #6D3092 89.52%);
  -webkit-box-shadow: 2px 5px 10px rgba(52, 54, 74, 0.5), inset 4.42131px 2.94754px 5.89508px rgba(119, 68, 227, 0.5);
          box-shadow: 2px 5px 10px rgba(52, 54, 74, 0.5), inset 4.42131px 2.94754px 5.89508px rgba(119, 68, 227, 0.5);
}

.card__button--pink {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.38%, #D74482), color-stop(89.52%, #9B2981));
  background: linear-gradient(180deg, #D74482 -15.38%, #9B2981 89.52%);
  -webkit-box-shadow: 2px 5px 10px rgba(52, 54, 74, 0.5), inset 4.42131px 2.94754px 5.89508px rgba(227, 68, 173, 0.5);
          box-shadow: 2px 5px 10px rgba(52, 54, 74, 0.5), inset 4.42131px 2.94754px 5.89508px rgba(227, 68, 173, 0.5);
}

.footer {
  background-color: #1D212D;
}

.footer__container {
  padding: 0px;
  padding-top: 30px;
  padding-bottom: 41px;
  max-width: 315px;
  border-top: 1px solid #F0F4F3;
}

.footer__rights {
  font-size: 16px;
  line-height: 1.25;
  color: #F0F4F3;
}

@media screen and (max-width: 767px) {
  .footer__rights {
    margin-bottom: 25px;
  }
}

.footer__student-text {
  font-size: 16px;
  line-height: 1.25;
  color: #F0F4F3;
}

.footer__student-text--accent {
  font-weight: 600;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer__student-text {
    max-width: 232px;
    margin-bottom: 25px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .social {
    margin-bottom: 25px;
  }
}

.social__item {
  margin-right: 40px;
}

.social__icon {
  fill: #E270AD;
}

.footer__text {
  font-size: 16px;
  line-height: 1.25;
  max-width: 305px;
}

.footer__text--accent {
  color: #E270AD;
}
/*# sourceMappingURL=main.css.map */