.about{
    background-color: $advantagesTitleColor;
    padding-top: 93px;
    padding-bottom: 52px;
    position: relative;
    @media screen and (min-width: $tablet){
        padding-top: 211px;
        padding-bottom: 203px;
    }
    @media screen and (min-width:$desktop){
        padding-top: 238px;
        padding-bottom: 292px;
    }
}
.about__image{
    position: absolute;
    display: block;
    &--desktop,&--tablet{
        @media screen and(max-width: 767px){
            display: none;
        }
    }
    &--mobile{
        @media screen and (max-width:767px){
            top: 32px;
                right: 37px;
                width: 116px;
        }
        @media screen and (min-width:$tablet) and (max-width:1199px){
            display: none;
        }
        @media screen and (min-width:$desktop){
            bottom: 74px;
            right: 410px;
        }
    }
    &--tablet{
        top: 64px;
        right: 220px;
        @media screen and (min-width: $desktop){
            top: 50px;
            right: 296px;
        }
    }
    &--desktop{
        bottom: 110px;
        right: 46px;
        @media screen and (min-width:$desktop){
            bottom: 216px;
            right: 122px;
        }
    }
}
.about__container{
    @media screen and (min-width: $tablet){
        max-width: 443px;
    }
    @media screen and (min-width:$desktop){
        max-width: 777px;
    }
}
.about__title{
    font-weight: 800;
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 30px;
    background: linear-gradient(180deg, #E270AD -15.38%, #CF4965 106.14%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: table;
    color: #E270AD;
    @media screen and (min-width: $tablet){
        font-size: 40;
    }
}
.about__text{
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 30px;
    &--accent{
        background: linear-gradient(180deg, #E270AD -15.38%, #CF4965 106.14%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: table;
            color: #E270AD;
    }
    @media screen and (min-width:$tablet){
        font-size: 20px;
    }
}
.about__accent{
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    @media screen and (min-width: $tablet){
        align-items: baseline;
    }
}
.about__icon{
    fill: $mainTextColor;
    margin-left: 7px;
}