.card{
    background-color: $subtitleTextColor;
    border-radius: 18px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding:20px 40px 30px 40px ;
    @media screen and (min-width:$tablet){
        max-width: 354px;
        padding: 30px 32px 30px 32px;
    }
}
.card__title{
    text-align: center;
    margin-bottom: 23px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    &--green{
        background: linear-gradient(180deg, #7AC266 -6.93%, #11897B 117.12%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: table;
            color: #7AC266;
    }
    &--purple{
        background: linear-gradient(180deg, #4955A5 -15.38%, #6D3092 89.52%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: table;
        color: #4955A5;
    }
    &--pink{
        background: linear-gradient(180deg, #D74482 -15.38%, #9B2981 89.52%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: table;
        color: #D74482;
    }
    @media screen and (min-width:$tablet){
        font-size: 30px;
        line-height: 1.23;
        margin-bottom: 37px;
    }
}
.card__subtitle{
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.25;
    color: #616161;
    @media screen and (min-width:$tablet){
        font-size: 19px;
        line-height: 1.21;
        margin-bottom: 11px;
    }
}
.card__list{
    @media screen and (max-width: 767px){
        margin-bottom: 23px;
    }
    @media screen and (min-width:$tablet){
        margin-bottom: 37px;
    }
}
.card__item{
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px){
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
    @media screen and (min-width:$tablet){
        &:not(:last-child){
            margin-bottom: 18px;
        }
    }
}
.card__icon{
    fill: green;
    margin-right: 6px;
}
.card__text{
    font-size: 15px;
    line-height: 1.2;
    color:$cardTextColor;
    @media screen and (min-width:$tablet){
        font-size: 24px;
        line-height: 1.21;
    }
}
.card__price{
    text-align: center;
    margin-bottom: 6px;
    font-size: 15px;
    line-height: 1.2;
    color: $cardTextColor;
    @media screen and (min-width:$tablet){
        font-size: 24px;
        line-height: 1.21;
        margin-bottom: 11px;
    }
}
.card__button{
    display: flex;
    margin-left:  auto;
    margin-right: auto;
    padding: 17px 60px;
    border-radius: 37px;
    border-color: transparent;
    font-weight: 700;
        font-size: 19px;
        line-height: 1.55;
        letter-spacing: 0.03em;
        color: $subtitleTextColor;
    &--green{
        background: linear-gradient(180deg, #7AC266 -6.93%, #11897B 117.12%);
        box-shadow: 2px 5px 10px rgba(52, 54, 74, 0.5), inset 4.42131px 2.94754px 5.89508px rgba(68, 227, 122, 0.5);
    }
    &--purple{
        background: linear-gradient(180deg, #4955A5 -15.38%, #6D3092 89.52%);
        box-shadow: 2px 5px 10px rgba(52, 54, 74, 0.5), inset 4.42131px 2.94754px 5.89508px rgba(119, 68, 227, 0.5);
    }
    &--pink{
        background: linear-gradient(180deg, #D74482 -15.38%, #9B2981 89.52%);
        box-shadow: 2px 5px 10px rgba(52, 54, 74, 0.5), inset 4.42131px 2.94754px 5.89508px rgba(227, 68, 173, 0.5);
    }
    @media screen and (min-width:$tablet){
        font-size: 29px;
        line-height: 1;
        padding: 17px 64px;
    }
}