.footer{
    background-color: $advantagesTitleColor;
}
.footer__container{
    padding-top: 30px;
    padding-bottom: 41px;
    border-top: 1px solid $mainTextColor;
    @media screen and (max-width: 767px){
        max-width: 315px;
    }
    @media screen and (min-width:$tablet){
        padding: 0px;
        padding-top: 30px;
            padding-bottom: 41px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @media screen and (min-width:$desktop){
        justify-content: center;
    }
}
.footer__rights{
    font-size: 16px;
    line-height: 1.25;
    color: $mainTextColor;
    @media screen and (max-width: 767px){
        margin-bottom: 25px;
    }
    @media screen and (min-width:$tablet) and (max-width:1199px){
        margin-bottom: 25px;
        margin-right: 152px;
    }
    @media screen and (min-width:$desktop){
        margin-right: 119px;
    }
}
.footer__student-text{
    font-size: 16px;
    line-height: 1.25;
    color: $mainTextColor;
    &--accent{
        font-weight: 600;
        color: $subtitleTextColor;
    }
    @media screen and (min-width:$tablet) and (max-width: 1199px){
        &--pad{
            padding-right: 19px;
        }
        
    }
    @media screen and (max-width: 767px) and (max-width:1199px){
        max-width: 232px;
        margin-bottom: 25px;
    }
    @media screen and (min-width:$desktop){
        margin-right: 119px;
        max-width: 297px;
    }

}
.social{
    display: flex;
   @media screen and (max-width: 767px){
        margin-bottom: 25px;
   }
   @media screen and (min-width:$desktop){
    margin-right: 119px;
   }
}
.social__item{
    margin-right: 40px;
}
.social__icon{
    fill: #E270AD;
}
.footer__text{
    font-size: 16px;
    line-height: 1.25;
    max-width: 305px;
    &--accent{
        cursor: pointer;
        color: #E270AD;
    }
}