.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.4);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden{
        opacity: 0;
        pointer-events: none;
    }
    @media screen and (max-width:767px){
        padding-left: 5px;
        padding-right: 5px;
    }
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: 51px 31px;
        background-color: $mainTextColor;
        border-radius: 40px;
        
        @media screen and (max-width:767px){
            max-width: 365px;
            height: 506px;
        }
        @media screen and (min-width:$tablet){
            padding: 58px 140px;
            max-width: 645px;
            height: 570px;
        }
        .backdrop.is-hiiden &{
            transform: translate(-50%, -50%) scale(1.1);
        }
}
.close__button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $mainTextColor;
    border-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    @media screen and (min-width:$tablet){
        top: 23px;
        right: 38px;
    }
}
.close__icon{
    &--mob {
            @media screen and (min-width:$tablet) {
                display: none;
            }
        }
    
        &--tab {
            @media screen and(max-width:767px) {
                display: none;
            }
        }
}
.modal__title{
    font-weight: 800;
        font-size: 30px;
        line-height: 1.23;
        text-align: center;
        color: $cardTextColor;
        margin-bottom: 31px;
        @media screen and (min-width:$tablet){
            font-weight: 700;
            font-size: 40px;
            line-height: 1.22;
        }
}
.form{
    margin-right: auto;
    margin-left: auto;
}
.form__list{
    display: flex;
    flex-direction: column;
}
.form__item{
    &:first-child{
        margin-bottom: 27px;
        @media screen and (min-width:$tablet){
            padding-left: 20px;
            margin-bottom: 25px;
        }
    }
    &:nth-child(2){
        margin-bottom: 31px;
        @media screen and (min-width:$tablet){
            padding-left: 20px;
            margin-bottom: 40px;
        }
    }
    &:nth-child(3){
        margin-bottom: 25px;
    }

}
.form__label{
    display: flex;
    flex-direction: column;
}
.form__text{
    font-weight: 600;
        font-size: 15px;
        line-height: 1.2;
        color: $cardTextColor;
        margin-bottom: 12px;
        @media screen and (min-width:$tablet){
            font-size: 20px;
            line-height: 1.2;
        }
}
.form__input{
    max-width: 302px;
    height: 42px;
    border: 1px solid #999999;
    border-radius: 10px;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    cursor: pointer;
    @media screen and (min-width:$tablet){
        max-width: 330px;
    }
}
.form__checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.checkbox__input{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.checkbox__text{
    font-size: 12px;
        line-height: 1.25;
        color: $cardTextColor;
        &--accent{
            text-decoration: underline;
            color: #D74482;
            
        }
        @media screen and (min-width:$tablet){
            font-size: 16px;
        }
}
.checkbox__icon{
    display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 7px;
        width: 15px;
        height: 15px;
        background-color: #F8F8F8;
        border: 0.863636px solid rgba(153, 153, 153, 0.6);
        border-radius: 4px;
        box-shadow: inset 0px 1.72727px 1.72727px rgba(0, 0, 0, 0.2);
        @media screen and (min-width:$tablet){
            width: 19px;
            height: 19px;
        }
}
.checkbox__check-icon{
   fill: transparent;

   .checkbox__input:checked + * &{
    fill: #219653;
   }
}
.form__button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
        font-size: 15px;
        line-height: 1.29;
        letter-spacing: 0.03em;
        color: $subtitleTextColor;
        border-color: transparent;
        padding: 12px 33px;
        cursor: pointer;
        background: linear-gradient(180deg, #D74482 -15.38%, #9B2981 89.52%);
            box-shadow: 6.77778px 6.77778px 14.5238px rgba(52, 54, 74, 0.5), inset 2.90476px 1.93651px 3.87302px rgba(227, 68, 151, 0.5);
            border-radius: 24.2063px;
            @media screen and (min-width:$desktop){
                font-size: 19px;
                    line-height: 1;
                padding: 17px 28px;
            }
}