.hero{
    background-color:black ;
    padding-top:289px ;
    padding-bottom: 58px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 767px){
        background-image:linear-gradient(147.94deg, rgba(29, 33, 45, 0.2) 2.88%, rgba(29, 33, 45, 0) 103.72%), url(../image/hero/hero-375w.jpg);
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero{
                background-image:linear-gradient(147.94deg, rgba(29, 33, 45, 0.2) 2.88%, rgba(29, 33, 45, 0) 103.72%), url(../image/hero/hero-750w.jpg);
            }
            
        }
    @media screen and (min-width: $tablet){
        padding-top: 297px;
        padding-bottom: 57px;
        background-image: linear-gradient(147.94deg, rgba(29, 33, 45, 0.2) 2.88%, rgba(29, 33, 45, 0) 103.72%), url(../image/hero/hero-1024w.jpg);
        
    }
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .hero {
                        background-image: linear-gradient(147.94deg, rgba(29, 33, 45, 0.2) 2.88%, rgba(29, 33, 45, 0) 103.72%), url(../image/hero/hero-2048w.jpg);
                    }
        
                }
    @media screen and (min-width:$desktop){
        background-image: linear-gradient(147.94deg, rgba(29, 33, 45, 0.2) 2.88%, rgba(29, 33, 45, 0) 103.72%), url(../image/hero/hero-1440w.jpg);
    }
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .hero {
                        background-image: linear-gradient(147.94deg, rgba(29, 33, 45, 0.2) 2.88%, rgba(29, 33, 45, 0) 103.72%), url(../image/hero/hero-2880w.jpg);
                    }
            
                }
}
.hero__container {
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
        max-width: 238px;
    }
    @media screen and (min-width:$tablet){
        margin-bottom: 77px;
        text-align: center;
    }
    
}
.hero__title{
    font-weight: 800;
    font-size: 40px;
    line-height: 1.22;
    @media screen and (min-width: $tablet){
        font-size: 50px;
        margin-bottom: 15px;
    }
}
.hero__text{
    font-size: 15px;
    line-height: 1.2;
    @media screen and (min-width:$tablet){
        font-size: 24px;
    }
    @media screen and (min-width:$desktop){
        font-size: 20px;
    }
}
.hero__button{
    margin-bottom: 248px;
    @media screen and (min-width:$tablet){
        
        padding: 22px 27px;
        margin-bottom: 294px;
        display: flex;
        
    }
}
.button__link{
    padding: 18px 26px;
    background: linear-gradient(180deg, #D74482 -15.38%, #9B2981 89.52%);
    box-shadow: 6.77778px 6.77778px 14.5238px rgba(52, 54, 74, 0.5),inset 2.90476px 1.93651px 3.87302px rgba(227, 68, 151, 0.5);
    border-radius: 25px;
    border-color: transparent;
    font-weight: 700;
    font-size: 19px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $subtitleTextColor;
    &:hover, &:focus{
        background: #9B2981;
        box-shadow: 0px 0px 20px #FF87C7;
    }
    @media screen and (min-width:$tablet){
        padding: 22px 27px;
        font-size: 25px;
        line-height: 0.96;
        display: flex;
        margin-left: auto;
            margin-right: auto;
    }
}
.hero__scroll{
    display: flex;
    cursor: pointer;
    @media screen and (min-width: $tablet){
        align-items: center;
    }
}
.hero__icon{
    fill: $subtitleTextColor;
    margin-right: 8px;
}
.hero__scroll-text{
    font-size: 15px;
    line-height: 1.2;
    text-align: start;
    color: $subtitleTextColor;
    @media screen and (min-width: $tablet){
        font-size: 20px;
    }
}