$mainTextColor: #F0F4F3;
$secondTextColor: linear-gradient(180deg, #E270AD -15.38%, #CF4965 106.14%);
$subtitleTextColor:#FFFFFF;
$advantagesTitleColor:#1D212D;
$cardTextColor:#333333;
$cardSubtitleColor:#616161;